{% extends 'main/base.html' %}

{% block title %}
Контактная информация
{% endblock %}

{% block content %}
    <div class="about">
        <h1>Контактная информация</h1>
        <p>Мы в социальных сетях и мессенджерах: <br>
            <a href="https://api.whatsapp.com/send/?phone=%2B79040325800&text&app_absent=0" target="_blank"><i class="fab fa-whatsapp"></i>WhatsApp</a>
            <a href="https://vk.com/away.php?utf=1&to=https%3A%2F%2Fwww.instagram.com%2Ftepliy_dom.kovrov%2F%3Futm_medium%3Dcopy_link" target="_blank"><i class="fab fa-instagram"></i>Instagram</a>
        </p>
    </div>
{% endblock %}
