{% extends 'main/base.html' %}

{% block title %}
Блог
{% endblock %}

{% block content %}
        <div id="gallery">
                <div class="prod-card">
                    <img src="https://sun9-4.userapi.com/impf/Wg4vaB0sIeUaV7KZQfT5nQBwg7OwVKeh4-Kh6g/4GO7mnezFgU.jpg?size=400x400&quality=96&sign=0c1c74be43d96f4c253131cd5a6b3d40&type=album" alt="Напольный газовый котел "Медведь KLOM">
                    <h3>Напольный газовый котел "Медведь KLOM"</h3>
                    <p>
                        <a href="https://www.protherm.ru/klientam/produkciya-protherm/klom-12608.html" target="_blank"></i>Посмотреть на сайте производителя</a>
                    </p>
                </div>
                <div class="prod-card">
                    <img src="https://sun9-80.userapi.com/impf/1f35DQ-bvC6Qgo0hzCbP0f_vnmQkq5tDwY8R0Q/eZrTB87QaTM.jpg?size=400x400&quality=96&sign=b7f5cafecf8a65284ec7b2a8a7a28a45&type=album" alt="Двухконтурный настенный газовый котел "Рысь"">
                    <h3>Настенный газовый котел "Рысь"</h3>
                    <p>
                        <a href="https://www.protherm.ru/klientam/produkciya-protherm/lynx-9664.html" target="_blank"></i>Посмотреть на сайте производителя</a>
                    </p>
                </div class="prod-card">
                <div class="prod-card">
                    <img src="https://sun9-56.userapi.com/impf/IKAv9BnVKUwQVFkTWEUv5FMIIZZVs8NjqkbKTA/SVofri3Trao.jpg?size=400x400&quality=96&sign=973ee2e77bc6c96fe03069fcfdfec0cd&type=album" alt="Настенный электрический котел Скат">
                    <h3>Настенный электрический котел Скат</h3>
                     <p>
                        <a href="https://www.protherm.ru/klientam/produkciya-protherm/ray-18752.html" target="_blank"></i>Посмотреть на сайте производителя</a>
                    </p>
                </div class
                </div>
                <div class="prod-card">
                    <img src="https://sun9-77.userapi.com/impf/522nP7UqhKOXRDCFK5Tfguvq8uQnNkrwD_5msw/sSZEVVI7BGA.jpg?size=400x400&quality=96&sign=b2ffcf4c78062cb2693297fa602be01b&type=album" alt="Настенный газовый котел turboTEC plus VU">
                    <h3>Настенный газовый котел turboTEC plus VU</h3>
                     <p>
                        <a href="https://www.vaillant.ru/customers/products/turbotec-plus-vu-5-5-20736.html" target="_blank"></i>Посмотреть на сайте производителя</a>
                    </p>
                </div>
                <div class="prod-card">
                    <img src="https://sun9-65.userapi.com/impf/N5rGbIN2FHEUdgy8UHJAarJRtB9IIMqJsHk_YQ/4meJ519bX18.jpg?size=400x400&quality=96&sign=3b5d541989a6596b6a08a0310667718d&type=album" alt="Электрический котел eloBLOCK">
                    <h3>Электрический котел eloBLOCK</h3>
                     <p>
                        <a href="https://www.vaillant.ru/customers/products/eloblock-17.html" target="_blank"></i>Посмотреть на сайте производителя</a>
                    </p>
                </div>
                <div class="prod-card">
                    <img src="https://sun9-88.userapi.com/impf/2AtGU82Dwlf96jPw01d_0H9piraGTPrtpz1mPg/31qQ-sbkJhs.jpg?size=400x400&quality=96&sign=262f8506197f9bb063ed024edb9c0102&type=album" alt="Газовый котел atmoVIT VK INT 164-564 / 1-5">
                    <h3>Газовый котел atmoVIT VK INT 164-564 / 1-5</h3>
                    <p>
                        <a href="https://www.vaillant.ru/customers/products/atmovit-vk-int-164-564-1-5-7.html" target="_blank"></i>Посмотреть на сайте производителя</a>
                    </p>
                </div>
                <div class="prod-card">
                    <img src="https://sun9-36.userapi.com/impf/Z4Ea_ug63i1w728nE66KumLCX1SzHjM0DU25kA/jzMGp0c_8D4.jpg?size=400x400&quality=96&sign=f25639071ec1c33b0559293ee94f881e&type=album" alt="Водонагреватель FE 150/6 BM">
                    <h3>Водонагреватель FE 150/6 BM</h3>
                     <p>
                        <a href="https://www.protherm.ru/klientam/produkciya-protherm/fe-150-6-bm-4160.html" target="_blank"></i>Посмотреть на сайте производителя</a>
                    </p>
                </div>
                <div class="prod-card">
                    <img src="https://sun9-2.userapi.com/impf/yWYJqIaRaeDChmRZQSc8e_-WoxGNL4AdL_mkfw/DHWPK4re1sw.jpg?size=400x400&quality=96&sign=7ecc3b0e72a826adf6180a36e73efe19&type=album" alt="Водонагреватель WH B60Z">
                    <h3>Водонагреватель WH B60Z</h3>
                     <p>
                        <a href="https://www.protherm.ru/klientam/produkciya-protherm/wh-b60z-833.html" target="_blank"></i>Посмотреть на сайте производителя</a>
                    </p>
                </div>
                <div class="prod-card">
                    <img src="https://sun9-82.userapi.com/impf/8SK1sL8GKVuHgrxQNP_pMf_3FS2wWy7MsM8rbQ/2sh3ij_VGEE.jpg?size=400x400&quality=96&sign=181b724964bdaf658b85aa16785661e7&type=album" alt="Водонагреватель FE 400/3 MR">
                    <h3>Водонагреватель FE 400/3 MR</h3>
                    <p>
                        <a href="https://www.protherm.ru/klientam/produkciya-protherm/fe-400-3-mr-15489.html" target="_blank"></i>Посмотреть на сайте производителя</a>
                    </p>
        </div>
{% endblock %}
